# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
node_modules/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata

# IDE files
.idea/
.vscode/
*.iml

# Android
/android/.gradle
/android/app/build/
/android/build/
/android/local.properties

# iOS
/ios/Flutter/.last_build_id
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# macOS
/macos/Flutter/ephemeral/
/macos/Pods/

# Windows
/windows/flutter/ephemeral/

# Linux
/linux/flutter/ephemeral/

# Web
/build/web/

# Firebase (IMPORTANT 🔥)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Logs
*.log

# Misc
*.lock
*.DS_Store

.env